
.box1 {
  background-color: pink;
  border: 4px solid black;
  padding: 20px;
  margin: 20px;

}
.box2 {
  background-color: teal;
  border: 4px solid black;
  padding: 20px;
  margin: 20px;
  display: none;
}
.box3 {
  background-color: aqua;
  border: 4px solid black;
  padding: 20px;
  margin: 20px;
  display: none;
}
.box4 {
  background-color: pink;
  border: 4px solid black;
  padding: 20px;
  margin: 20px;
display: none;

}
.box5 {
  background-color: teal;
  border: 4px solid black;
  padding: 20px;
  margin: 20px;
  display: none;
}
.box6 {
  background-color: aqua;
  border: 4px solid black;
  padding: 20px;
  margin: 20px;
  display: none;
}